{
    "parser": "babel-eslint",
    "extends": [
        "gitbook"
    ],
    "plugins": [
        "flowtype"
    ],
    "env": {
         "browser": true
    },
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    }
}
